@{
    Layout = null;
}
<div style="height:100%; display:flex;" ng-class="{p1_active_content: singleGameCtrl.activePlayer == 1, p2_active_content: singleGameCtrl.activePlayer == 2}">

    <div class="game_players_header">
        <div class="player1_header">
            <span class="glyphicon glyphicon-remove font_icon_big"></span>
            {{singleGameCtrl.player1Name}}
        </div>
        <div class="player2_header">
            {{singleGameCtrl.player2Name}}
            <span class="glyphicon glyphicon-unchecked font_icon_big player2_color"></span>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="main_container">


        <div ng-repeat="bigCell in singleGameCtrl.bigCells" class="big_cell" ng-class="{active: bigCell.isActive}">
            <div ng-repeat="smallCell in bigCell.cells" class="small_cell" ng-click="singleGameCtrl.cellClicked(smallCell)" ng-class="{p1: smallCell.playerSelection == 1, p2: smallCell.playerSelection == 2}">
                <span class="glyphicon" ng-class="smallCell.playerIcon"></span>
            </div>
        </div>
    </div>
</div>