@using AdvancedTicTacToe.WebApp.Models


<header class="floating">
    <span class="title">@ApplicationConfig.ApplicationName</span>
</header>
<header>
    <span class="title">@ApplicationConfig.ApplicationName</span>
</header>

<!--Loading screen content-->
<div class="view_container" ng-show="loadingRouteCtrl.isRouteLoading">
    <div class="menu_overlay">
        <div class="menu_container">
            loading...
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>

        </div>
    </div>
</div>


<!--Angular js main view container-->
<div ng-if='!isRouteLoading' ng-view class="view_container">

</div>

<footer class="floating">
    <span>&copy; @DateTime.Now.Year - Claudio Musumeci</span>
</footer>
@*<footer>
    <span>&copy; @DateTime.Now.Year - Claudio Musumeci</span>
</footer>*@

@*<div class="col-md-3" ng-controller="RightPanelController as rightPanelCtrl">

            <h2>Friends</h2>
            <div class="list-group" style="max-height: 300px; overflow-y: auto;">
                <a ng-repeat="user in rightPanelCtrl.onlineUsers" class="list-group-item">
                    <span class="glyphicon glyphicon-user"></span> {{user.userName}}
                    <span class="label label-warning" ng-show="user.isPlaying">playing</span>
                    <span ng-click="rightPanelCtrl.playMatch(user)" class="label label-success" ng-hide="user.isPlaying || user.isMe">play</span>
                </a>
            </div>

            <li class="list-group-item" style="margin-top: -21px;">
                <input type="text" class="form-control" placeholder="Search friends" aria-describedby="basic-addon1" />
            </li>

            <h2>Online Stats</h2>
            <ul class="list-group">
                <li class="list-group-item">214 match played so far...</li>
                <li class="list-group-item">239 online users</li>
            </ul>
    </div>*@
