
$font-family: "'Architects Daughter', cursive";
$font-color: white;
$main-color: #E7CB3C;
$main-hover-color: #d9b915;
$main-bgcolor: rgb(54, 154, 213);
$p1_color: rgb(54, 154, 213);
$p2_color: rgb(211, 55, 84);


$log-off-color: #9A2626;
$log-off-hover-color: #ff0000;
$log-in-color: green;
$log-in-hover-color: #05B105;
$options-color: #79786F;
$options-hover-color: #9E9E9E;