* {
    font-family: segoe ui;
    font-family: 'Architects Daughter', cursive;
    color: $font-color;
    user-select: none;
    cursor:default;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

span {
    font-size: 25px;
}

a {
    cursor: pointer;
}


header {
    background-color: $main-color;
    width: 100%;
    border-bottom: 2px solid $main-color;
    display: flex;
    justify-content: center;

    .title {
        margin: 5px;
        color: $font-color;
        font-weight: bold;
        text-align: center;
        font-size: 2em;
    }
}


header.floating {
    position: fixed;
    top: 0;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: $main-color;
    width: 100%;
    border-bottom: 2px solid $main-color;
    display: flex;
    justify-content: center;

    span {
        font-size: 1em;
        margin: 4px;
    }
}


.view_container {
    height: calc(100% - 57px);
    background-color: $main-bgcolor;
    display: flex;
    width: 100%;
}

.top-align {
    align-self: baseline;
}

.menu_overlay {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    justify-content: space-around;
    background-color: $main-bgcolor;

    .menu_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .button {
            margin: 10px;
            background: $main-color;
            padding: 15px;
            color: $font-color;
            width: 300px;
            text-align: center;
            font-size: 2em;
        }



        .text_label {
            margin: 10px;
            margin-left: 0;
            color: $main-color;
            text-align: left;
            font-size: 2em;
        }

        input {
            padding: 10px;
            margin: 10px;
            /*background: white;*/
            color: #E7CB3C;
            width: 300px;
            text-align: left;
            font-size: 2em;
            border: 0 solid #E7CB3C;
        }

        .link_button {
            color: #E7CB3C;
            text-align: center;
            font-size: 1.4em;
            margin: 10px;
            /*line-height: 53px;*/
            /*border: 1px solid #bca637;*/
        }

        a.link_button:hover {
            text-decoration: underline;
        }

        .checkbox input {
            width: auto;
            cursor: pointer;
        }

        .checkbox label {
            margin: 10px;
            color: #E7CB3C;
            /*background: white;*/
            text-align: left;
            font-size: 1.4em;
            width: auto;
            cursor: pointer;
        }

        a:hover, a:visited, a:link, a:active {
            text-decoration: none;
        }
    }
}
