
.p1 {
    background-color: rgb(54, 154, 213);
    !important;
}

.p2 {
    background-color: rgb(211, 55, 84);
    !important;
}

.board_container {
    width: 100%;
    display: flex;

    .board {

        width: 70vmin;
        height: 70vmin;
        @media (max-width: 768px) {
            width: 80vmin;
            height: 80vmin;
        }
        @media (max-width: 500px) {
            width: 90vmin;
            height: 90vmin;
        }
        
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    /*@media (max-width: 768px) {
        .board {
            width: 80vmin;
            height: 80vmin;
        }
    }*/
}




.big_cell {
    background: #444;
    /*background: #FFFFFF;*/
    width: 33%;
    height: 33%;
    display: flex;
    flex-wrap: wrap;
    border: 3px black solid;
    /*border: 3px #DDD solid;*/
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
}

.big_cell:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.small_cell {
    width: 33.33333%;
    height: 33.33333%;
    border: 3px black solid;
    text-align: center;
    align-items: center;
    color: white;
}

@media (max-width: 768px) {
    .small_cell {
        border: 2px black solid;
    }

    .big_cell {
        border-radius: 9px;
    }
}

@media (max-width: 500px) {
    .small_cell {
        border: 1px black solid;
    }

    .big_cell {
        border-radius: 6px;
    }

    .game_players_header {
        display: flex;
        color: white;
        font-size: 1em;
    }
}


.active .small_cell:hover {
    cursor: pointer;
}

/* Radial Out */
.active {
    display: flex;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.big_cell:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.active.big_cell:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}
