

.menu_overlay .login_form {
    /*border: 1px solid #E7CB3C;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-around;
    padding: 20px 60px;
}

.menu_overlay .title_span {
            margin: 10px;
            color: #E7CB3C;
            font-weight:bold;
            text-align: center;
            font-size: 3em;
        }

    .menu_overlay .login_form .text_label {
        margin: 10px;
        margin-left: 0;
        color: #E7CB3C;
        /*background: white;*/
        text-align: left;
        font-size: 2em;
    }

    .menu_overlay .login_form input {
        padding: 10px;
        margin: 10px;
        /*background: white;*/
        color: #E7CB3C;
        width: 300px;
        text-align: left;
        font-size: 2em;
        border: 0px solid #E7CB3C;
    }

    .menu_overlay .login_form .checkbox input {
        width: auto;
    }

    .menu_overlay .login_form .checkbox label {
        margin: 10px;
        color: #E7CB3C;
        /*background: white;*/
        text-align: left;
        font-size: 1.4em;
        width: auto;
    }

    .menu_overlay .login_form .login_btn {
        margin: 10px;
        background: #E7CB3C;
        padding: 15px;
        color: white;
        width: 300px;
        text-align: center;
        font-size: 2em;
    }

    .menu_overlay .login_form a {
        color: #E7CB3C;
        text-align: center;
        font-size: 1.4em;
        margin: 10px;
        /*line-height: 53px;*/
        /*border: 1px solid #bca637;*/
    }
